@-webkit-keyframes ripple {
  0% {
    border-width: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    border-width: 1px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}
@-moz-keyframes ripple {
  0% {
    border-width: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    border-width: 1px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    border-width: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    border-width: 1px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}
.gallery-item-wrapper .node-publish-details {
  padding: 10px 10px 5px 10px;
  background: #f3f3f3;
}
.gallery-item-wrapper .node-publish-details span.node-details {
  display: block;
  margin: 5px 0 0 0;
  color: #aaa;
  font-size: 80%;
}
.gallery-item-wrapper .gallery-content-grid {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 15px;
  align-items: top;
}
.gallery-item-wrapper .gallery-content-grid[sizeoption="small"] {
  -ms-grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.gallery-item-wrapper .gallery-content-grid[sizeoption="medium"] {
  -ms-grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.gallery-item-wrapper .gallery-content-grid[sizeoption="large"] {
  -ms-grid-template-columns: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
}
#gallery-option-bar {
  display: none;
}
#gallery-option-bar ul#gallery-size-options {
  position: relative;
  display: block;
  padding: 2px 0 5px 0;
  margin: 10px 0;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#gallery-option-bar ul#gallery-size-options li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0;
  margin: 0 5px;
  width: 24px;
  height: 18px;
  cursor: pointer;
}
#gallery-option-bar ul#gallery-size-options li div {
  height: 100%;
  margin: 0 1px;
  background: #ccc;
  display: inline-block;
}
#gallery-option-bar ul#gallery-size-options li[sizeoption="small"] div {
  width: 6px;
}
#gallery-option-bar ul#gallery-size-options li[sizeoption="medium"] div {
  width: 10px;
}
#gallery-option-bar ul#gallery-size-options li[sizeoption="large"] div {
  width: 22px;
}
#gallery-option-bar ul#gallery-size-options li.active div {
  background: #2148cf;
}
#gallery-option-bar ul#gallery-size-options li:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -5px;
  width: 1px;
  height: 12px;
  background: #ccc;
}
#gallery-option-bar ul#gallery-size-options li:last-child:after {
  display: none;
}
@media screen and (min-width: 750px) {
  #gallery-option-bar ul#gallery-size-options li:hover div {
    background: #2148cf;
  }
}
